.superSubGrids\.SmartGrid table.SimpleTable_Table_Style {
    border-spacing: 0;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    height: 94%;
    display: block;
  }
  .superSubGrids\.SmartGrid div.SimpleTable_TableCellInnerDiv_Style {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5rem;
    max-height: 1.5rem;
  }
  .superSubGrids\.SmartGrid th.SimpleTable_TableHeader_Style {
    height: 3rem;
    font-family: "Segoe UI Regular", "Segoe UI", Arial, Sans-Serif;
    font-size: 1rem;
    line-height: 1.384;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: left;
    padding: 0.5rem;
    border-left: 0.1rem solid rgba(255, 255, 255, 0.1);
    vertical-align: middle;
    width: 100vw;
  }
  .superSubGrids\.SmartGrid tr.SimpleTable_TableRow_Style {
    height: 3.5rem;
    background-color: #fff;
    color: #333;
  }
  .superSubGrids\.SmartGrid tr.SimpleTable_TableRow_Style:hover {
    cursor: pointer;
    border: solid thin rgb(59, 121, 183);
    background: rgba(160, 160, 160, 0.15);
  }
  .superSubGrids\.SmartGrid td.SimpleTable_TableCell_Style {
    font-size: 1rem;
    line-height: 1.467;
    padding: 0 0.5rem;
    vertical-align: middle;
    width: 100vw;
    font-weight: bold;
    font-family: "Segoe UI Light";
    color: rgb(59, 121, 183);
  }
  .superSubGrids\.SmartGrid td.No_Record_Style {
    text-align: center;
    padding: 20px;
  }
  .superSubGrids\.SmartGrid table.SimpleIncrement_Button_Style {
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 6px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    background-color: black;
    border: none;
    padding: 5px;
    text-align: center;
  }
  .superSubGrids\.SmartGrid input.SimpleIncrement_Input_Error_Style {
    color: red;
  }
  .superSubGrids\.SmartGrid button.LoadMoreButton_Hidden_Style {
    display: none;
  }
  .superSubGrids\.SmartGrid button.LoadMoreButton_Style {
    background-color: #e5e5e5;
    font-size: 1.3rem;
    font-weight: bold;
    height: 6%;
    text-align: center;
    width: 100%;
    border: none;
  }


  .superSubGrids\.SmartGrid input.Textbox_Style{
    display: block;
    height:2.5rem;
    padding: 0 0.5rem;
    font-size: 14px;
    line-height: 1.467;

    font-family: "Segoe UI Light";
    width: 100vw;
    color: #555;
    background-color: #fff;

    border: 1px dotted #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}
.filter_contant {
	border: 1px solid #d6d6d6;
	padding: 7px;
	/*margin: -1px 1px;
	padding-top: 20px;*/
}
.col-md-12 {
    width: 100 vw;
}

.superSubGrids\.SmartGrid input.readonlyInput {
  
    background-image: url("/img/Lock.png") no-repeat scroll 7px 7px;
    text-align: center;
    
}
  
.butn {
    -webkit-border-radius: 1;
    -moz-border-radius: 1;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 22px;
    background: #000508;
    padding: 3px 9px 3px 9px;
    text-decoration: none;
    height:2.5rem;
    margin-left:5px;
  }
  
  .butn:hover {
    background: #0a0a0a;
    background-image: -webkit-linear-gradient(top, #0a0a0a, #56595c);
    background-image: -moz-linear-gradient(top, #0a0a0a, #56595c);
    background-image: -ms-linear-gradient(top, #0a0a0a, #56595c);
    background-image: -o-linear-gradient(top, #0a0a0a, #56595c);
    background-image: linear-gradient(to bottom, #0a0a0a, #56595c);
    text-decoration: none;
  }
  .superSubGrids\.SmartGrid select.selectstyle{
   
    height:2.5rem;
    padding: 0 0.5rem;
    font-size: 14px;
    line-height: 1.467;

    font-family: "Segoe UI Light";
 
    color: #555;
    background-color: #fff;

    border: 1px dotted #ccc;
    border-radius: 2px;
 

}
.superSubGrids\.SmartGrid .inDiv{
   
  height:2.5rem;
  padding: 0 0.5rem;
  font-size: 14px;
  line-height: 1.467;

  font-family: "Segoe UI Light";

  color: #555;
  background-color: #fff;

  border: 1px dotted #ccc;
  border-radius: 2px;


}
